.right-header {
	width: 260px;
	max-width: 260px;
	min-width: 192px;
	height: inherit;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1.3rem;
}

.upload,
.apps,
.notification,
.profile,
.darkmode-btn {
	cursor: pointer;
	transition: all 0.5s ease;
}

.profile {
	width: 2.3rem;
	height: 2.3rem;
	border-radius: 50%;
	background-image: url("../../img/profile.jpg");
	background-position: center;
	background-size: cover;
}

/* Darkmode */
.right-header.darkmode .upload,
.right-header.darkmode .apps,
.right-header.darkmode .notification,
.right-header.darkmode .fa-moon {
	color: #e9e9e9;
	transition: all 0.5s ease;
}

/* Responsive */
@media (max-width: 350px) {
	.right-header {
		width: 180px;
	}
}
